<ion-view title="CONTRASEÑA">
    <ion-content padding="true" class="has-header">
        <button class="button icon-left button-icon ion-navicon-round" ui-sref="menuPatrocinador"></button>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Ingrese Contraseña Actual</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Ingrese Nueva Contraseña</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Confirme Nueva Contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 66px;"></div>
        <a ui-sref="patrocinador" class="button button-balanced button-block">Guardar</a>
    </ion-content>
</ion-view>