<ion-view title="CONTACTO">
    <ion-content padding="true" class="has-header">
        <button class="button icon-left button-icon ion-navicon-round" ui-sref="menu"></button>
        <br><br>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <img src="img/phone.png" style="display:block;margin-left:auto;margin-right:auto;width:100px">
        <br><br>
        <div>
            <p>¡Hola! Somos el equipo de DiVertrip,
                <strong>¿tienes algo que contarnos?</strong>, envíanos tus inquietudes o sugerencias.</p>
        </div>
        <br>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Comienza a escribir...">
            </label>
        </form>
        <br><br>
        <button class="button button-positive button-block icon-left ion-android-add">Añadir Captura de Pantalla</button>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <a ui-sref="bienvenido" class="button button-positive button-block  icon-right ion-chevron-right">Enviar</a>
    </ion-content>
</ion-view>