<ion-view title="DIVERTRIP" >
    <ion-content style="background: url(img/fondo.jpg)" padding="true" class="has-header">
        <img src="img/movil.png" style="display:block;margin-left:auto;margin-right:auto;width:304px">
        <a ui-sref="personas" class="button button-positive button-block  icon-left ion-android-people">Personas</a>

        <a ui-sref="patrocinador" class="button button-positive button-block  icon-left ion-android-person">Patrocinador</a>
        
        <button class="button button-dark button-block  icon-left ion-log-out">Salir</button>
    </ion-content>
</ion-view>