<ion-view title="EVENTOS">
    <ion-content padding="true" class="has-header">
        <button class="button icon-left button-icon ion-navicon-round" ui-sref="menu"></button>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar Evento">
            </label>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-input">
                <span class="input-label">Filtrar Fecha</span>
                <input type="date" placeholder="DD-MM-AAAA">
            </label>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-select">
                <span class="input-label">Categoría</span>
                <select>
                    <option selected>Musica</option>
                    <option>Talleres</option>
                    <option>Cultural</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <ion-item class="item-thumbnail-left">
                <img src="img/shamanes.jpg">
                <h2>ShamanesCrew</h2>
                <p>Música / Bar-L</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/movimiento.jpg">
                <h2>Movimiento Original</h2>
                <p>Música / Valparaíso</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/episodio_4.png">
                <h2>Star Wars IV - Una Nueva Esperanza</h2>
                <p>Cine / Teatro Valparaíso</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/episodio_5.png">
                <h2>Star Wars V - El Imperio Contra - Ataca</h2>
                <p>Cine / Teatro Valparaíso</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/episodio_6.jpg">
                <h2>Star Wars VI - El Regreso del Jedi</h2>
                <p>Cine / Teatro Valparaíso</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>