<ion-view title="PATROCINADOR">
    <ion-content padding="true" class="has-header">
        <br><br>

        <img src="img/patrocinador.png" style="display:block;margin-left:auto;margin-right:auto;width:200px">
            <ion-list>
                <br><br>
                <form id="formularioPat">
                    <label class="item item-input">
                        <span class="input-label" >Usuario</span>
                        <input name="user_name" type="text" placeholder="" ng-model="authorization.user_name">
                    </label>
                    <br>
                    <label class="item item-input">
                        <span class="input-label">Contraseña</span>
                        <input name="passwd"  type="password" placeholder="" ng-model="authorization.password">
                    </label>
                

                    <div class="spacer" style="width: 300px; height: 53px;"></div>
                    <!--
                    <button class="button button-positive button-block icon-right ion-chevron-right" name="botoningresar">Iniciar Sesión</button>
                  -->
                    <input type="submit" class="button button-positive button-block icon-right ion-chevron-right" value="Iniciar sesión"ui-sref="inicio"/>

                    </form>

            <a ui-sref="reestablecer" class="button button-positive button-clear button-block ">¿Olvidaste tu contraseña?</a>
            </ion-list>
    </ion-content>
</ion-view>


